.info{
    display: flex;
    align-items: flex-end;
    padding: 10px;
    height: fit-content;
} 

.infoText{
    flex: 1;
}

.infoText h2{
    font-size: 48px;
    margin-bottom: 10px;
}

.infoText p{
    font-size: 14px;
}

.info img{
    height: 20vw;
    object-fit: contain;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0,0,0,0.5);
}
