.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 20px;
}

.left{
    background-color: white;
    color: gray;
    border-radius: 30px;
    padding: 10px;
    flex: 0.5;
    display: flex;
    align-items: center;
    min-width: 70px;
    max-width: 300px;
}

.left > input{
    border: none;
    width: 100%;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100px;
}

.right > h4{
    margin-left: 10px;
    margin-right: 10px;
}