.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 20px;
}

.header .left{
    background-color: white;
    color: gray;
    border-radius: 30px;
    padding: 10px;
    flex: 0.5;
    display: flex;
    align-items: center;
    min-width: 75px;
    max-width: 300px;
    height: max-content;
    gap: 5px;
}

.left > input{
    border: none;
    width: 100%;
}

.left > input:focus{
    outline: none;
}

.header .right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100px;
    background: rgb(28, 28, 28);
    border-radius: 30px;
    height: fit-content;
    border: 3px solid rgb(10, 10, 10);
}

.right > h4{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
    color: rgb(225, 225, 225);
}