.sidebarOption{
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(161, 161, 161);
    height: 40px;
    cursor: pointer;
    transition: 150ms color ease-in;
}

.sidebarOption:hover{
    color: white;
}

.sidebarOption > .icon{
    padding-left: 10px;
}

.sidebarOption > p{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
}